footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 11%;

    #social-share {
        display: flex;
        align-items: center;
        h5 {
            margin-right: 17px;
        }
        #social-icons {
            display: flex;
            // gap: 20px;
            & > * + *{
                margin-left: 20px;
            }
        }
    }
}