footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 11%;
    border-bottom: 5px solid $purple;

    #social-share {
        display: flex;
        h5 {
            margin-right: 17px;
        }
        #social-icons {
            display: flex;
            gap: 20px;
        }
    }
}