.gifcards-container {
    width: 81%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 29px;
    row-gap: 29px;

    .gifcard {
        width: 260px;
        height: 200px;
    }
}