#nav-bar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11% 0 11%;

    .btn-logo{
        width: 63px;
        height: 59px;

        &.mobile{
            display: none;
        }
    }

    .btn-ham {
        display: none;
    }

    #nav-menu {
        display: flex;
        align-items: center;
        gap: 42px;
    }
}