#srch {
    display: flex;
    flex-direction: column;
    align-items: center;

    #srch-bar {
        width: 40%;
        padding: 0 20px;

        display: flex;
        flex-direction: column;

        border-radius: 27px;

        #srch-field {
            padding: 15px 0 13px;
            display: flex;
            justify-content: space-between;

            #srch-input {
                font-size: 16px;
                padding-left: 33px;
                border: none;
                outline: none;
                background-color: transparent;
            }
        }

        #srch-suggest-list {
            // display: flex;
            // flex-direction: column;
            padding: 9px 0 13px;
            border-top: 1px solid $grey;

            :hover {
                cursor: pointer;
                background-color: lightblue;
            }

            .srch-suggest {
                width: 100%;
                display: flex;

                padding: 5px 0 5px;

                #srch-icon {
                    width: 18px;
                    height: 18px;
                }

                p {
                    margin-left: 14px;
                    color: $grey;
                }
            }
        }
    }

    #srch-trends {
        padding: 73px 20% 95px;
    }

    #srch-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-bottom: 149px;

        #srch-results-title {
            padding: 79px 0 109px 0;
            border-top: 1px solid $grey;
            font-size: 30px;
        }

        #srch-no-results {
            text-align: center;
        }
    }
}