#trending-gifs {
    display: flex;
    flex-direction: column;

    padding: 67px 0 182px;

    p {
        padding: 12px 0 53px;
    }

    #slider-container{
        width: 100%;
        // padding: 0 94px;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow{
            width: 40px;
            height: 40px;
        }

        #trending-gifs-slider {
            width: 80%;
            margin: 0 22px;
            overflow: auto;

            scroll-behavior: smooth;
            display: flex;

            #trending-gifs-container {
                display: flex;
                // gap: 29px;
                // padding: 0 94px;

                & > * + * {
                    margin-left: 29px;
                }

                .gifcard {
                    width: 357px;
                    height: 275px;
                }
            }
        }
    }
}