button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.2s;
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

#srch-field{
    button {
        width: 20px;
        height: 20px;

        :hover {
            cursor: pointer;
        }
    }
}

.fav-inactive {
    background-image: url(../assets/icon-fav-hover.svg);
}

.fav-active {
    background-size:auto;
    background-image: url(../assets/icon-fav-active.svg);
    background-color: $white;
}

.trash {
    background-image: url(../assets/icon-trash-hover.svg);
}

.more-btn {
    padding: 18px 32px;
    margin-top: 78px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 25px;
}

.btn-crear {
    width: 54px;
    height: 54px;
}