$purple: #572EE5;
$acqua: #5ED7C6;
$white: #FFFFFF;
$black: #000000;
$grey: #9CAFC3;
$medium-grey: #37383C;
$dark-grey: #222326;

.txt-accent{
    color: $acqua;
}

.lit-txt-color{
    color: $purple;
}

.drk-txt-color{
    color: $white;
}