.link {
    text-decoration: none;
    color: $purple;

    &.dark-mode{
        color: $white;
    }

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: $acqua;
    }

    &:active {
        color: $grey;
    }
}

#nav-menu > .link{
    text-transform: uppercase;
}