footer {
    padding: 47px 0 23px;

    #social-share {
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
            margin-bottom: 24px;
        }

        #social-icons {
            display: flex;
            // gap: 19px;
            margin-bottom: 47px;
            
            //All children minus first one
            & > * + *{
                margin-left: 19px;
            }
        }
    }
}