@media (max-width: 693px){
    footer{
        padding: 47px 0 23px;
        border-bottom: 5px solid $purple;

        #social-share{
            display: flex;
            flex-direction: column;
            align-items: center;

            h5{
                margin-bottom: 24px;
            }

            #social-icons{
                display: flex;
                gap: 19px;

                margin-bottom: 47px;
            }
        }
    }
}