#gifos-create {
    width: 100%;
    padding: 4px 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #record-general {
        width: 100%;
        display: flex;
        justify-content: center;

        #camera-img {
            display: none;
        }

        #movie-img {
            display: none;
        }

        #record-main {
            width: 100%;
            margin: 0 5%;

            #record-frame {
                padding: 20px;

                &.light-mode {
                    border: 1px solid $purple;
                }

                &.dark-mode {
                    border: 1px solid $white;
                }

                #inside-corners {
                    border: 1px solid $acqua;
                    padding: 17px 0;
                    height: 236px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    #record-init, #record-permit{
                        width: 60%;
                        min-width: 200px;
                        // line-height: 20px;                        
                    }

                    #record-init {
                        h2 {
                            span {
                                text-transform: uppercase;
                                color: $acqua;
                            }
                        }
                    }

                    video, #raw-gif{
                        width: 300px;
                        height: 200px;
                    }

                    #raw-gif {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        .raw-overlay {
                            width: 100%;
                            height: 100%;
                            background-color: rgba($color: $purple, $alpha: 0.8);
                            padding: 11px 12px;
                            display: grid;
                            grid-template-columns: 1fr 2fr 1fr;
                            grid-template-rows: 1fr;

                            .raw-overlay-info {
                                grid-column: 2 / 3;
                                grid-row: 1 / 2;

                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                img {
                                    width: 24px;
                                    height: 24px;
                                }

                                p {
                                    color: $white;
                                    margin-top: 10px;
                                }

                            }

                            .raw-overlay-btns {
                                grid-column: 3 / 4;
                                display: flex;
                                justify-content: flex-end;
                                gap: 11px;

                                a {
                                    width: 32px;
                                    height: 32px;
                                }

                                button {
                                    opacity: 0.4;

                                    &:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #record-status-bar {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px 0 19px 0;

                #record-steps {
                    display: flex;
                    gap: 15px;

                    .step {
                        width: 32px;
                        height: 32px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border-radius: 50%;

                        &.light-mode {
                            border: 1px solid $purple;
                            color: $purple;

                            &.step-active {
                                color: $white;
                                background-color: $purple;
                            }
                        }

                        &.dark-mode {
                            border: 1px solid $white;
                            color: $white;
                            &.step-active {
                                color: $medium-grey;
                                background-color: $white;
                            }
                        }
                    }
                }

                #record-log {
                    padding-top: 19px;

                    #record-time {
                        &.light-mode {
                            color: $purple;
                        }
                        
                        &.dark-mode {
                            color: $white;
                        }
                    }

                    #record-repeat {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    #line-separator {
        height: 7px;
        width: 50%;
        border-radius: 10px;
        
        &.light-mode {
            background-color: $purple;
        }
        
        &.dark-mode {
            background-color: $white;
        }
    }

    .more-btn {
        margin-top: 20px;
    }
}