/* -------------------------------------------------------------------------- */
/*                           NORMALIZE RESET STYLES                           */
/* -------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.txt-accent {
  color: #5ED7C6;
}

.lit-txt-color {
  color: #572EE5;
}

.drk-txt-color {
  color: #FFFFFF;
}

/* ----------------------------- FONT VARIABLES ----------------------------- */
/* ---------------------------- MAIN FONT STYLES ---------------------------- */
.main-title-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

.main-txt-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

/* --------------------------- SECOND FONT STYLES --------------------------- */
.second-title-font {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

.second-txt-font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #572EE5;
}

.link.dark-mode {
  color: #FFFFFF;
}

.link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-color: #5ED7C6;
          text-decoration-color: #5ED7C6;
}

.link:active {
  color: #9CAFC3;
}

#nav-menu > .link {
  text-transform: uppercase;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

button:active {
  outline: none;
}

#srch-field button {
  width: 20px;
  height: 20px;
}

#srch-field button :hover {
  cursor: pointer;
}

.fav-inactive {
  background-image: url(../assets/icon-fav-hover.svg);
}

.fav-active {
  background-size: auto;
  background-image: url(../assets/icon-fav-active.svg);
  background-color: #FFFFFF;
}

.trash {
  background-image: url(../assets/icon-trash-hover.svg);
}

.more-btn {
  padding: 18px 32px;
  margin-top: 78px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 25px;
}

.btn-crear {
  width: 54px;
  height: 54px;
}

.gifcard {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gifcard button {
  width: 32px;
  height: 32px;
  border-radius: 20%;
}

.gifcard .gifcard-info h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

.gifcard .gifcard-info h3 {
  font-family: "Montserrat", sans-serif;
}

.gifcard:hover .gifcard-overlay {
  opacity: 1;
}

.gifcard .gifcard-overlay {
  -webkit-transition: .4s ease;
  transition: .4s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 10px 10px 5% 5%;
  background-color: rgba(87, 46, 229, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gifcard .gifcard-overlay .gifcard-overlay-bar-btns {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
}

.gifcard .gifcard-overlay .gifcard-overlay-bar-btns button {
  opacity: 0.4;
}

.gifcard .gifcard-overlay .gifcard-overlay-bar-btns button:hover {
  opacity: 1;
}

.gifcard .gifcard-overlay .gifcard-info {
  color: white;
}

.gifcard .gifcard-max-container .gifcard-max {
  height: 100%;
  width: 100%;
  padding: 0 20% 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 2;
}

.gifcard .gifcard-max-container .gifcard-max .btn-close {
  margin: 0 5px 50px 0;
  padding: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.gifcard .gifcard-max-container .gifcard-max .gifcard-max-gifimg {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.gifcard .gifcard-max-container .gifcard-max .gifcard-max-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
}

.gifcard .gifcard-max-container .gifcard-max .gifcard-max-bar .gifcard-max-bar-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.social-icon {
  color: #9CAFC3;
}

.social-icon:hover {
  color: #572EE5;
}

body.dark-mode {
  background-color: #37383C;
}

#nav-bar.light-mode {
  border-top: 5px solid #572EE5;
}

#nav-bar.dark-mode {
  border-top: 5px solid black;
}

#nav-bar .btn-logo.desktop.light-mode {
  background-image: url("../assets/logo-desktop.svg");
}

#nav-bar .btn-logo.desktop.dark-mode {
  background-image: url("../assets/logo-desktop-noc.svg");
}

#nav-bar .btn-logo.mobile.light-mode {
  background-image: url("../assets/logo-mobile.svg");
}

#nav-bar .btn-logo.mobile.dark-mode {
  background-image: url("../assets/logo-mobile-noc.svg");
}

#nav-bar .btn-crear.light-mode {
  background-image: url("../assets/button-crear-gifo.svg");
}

#nav-bar .btn-crear.light-mode:hover {
  background-image: url("../assets/CTA-crear-gifo-hover.svg");
}

#nav-bar .btn-crear.light-mode:active {
  background-image: url("../assets/CTA-crear-gifo-active.svg");
}

#nav-bar .btn-crear.dark-mode {
  background-image: url("../assets/CTA-crear-gifo-modo-noc.svg");
}

#nav-bar .btn-crear.dark-mode:hover {
  background-image: url("../assets/CTA-crear-gifo-hover-modo-noc.svg");
}

#nav-bar .btn-crear.dark-mode:active {
  background-image: url("../assets/CTA-crear-gifo-active-modo-noc.svg");
}

#srch #srch-bar.light-mode {
  border: 1px solid #572EE5;
}

#srch #srch-bar.dark-mode {
  border: 1px solid #FFFFFF;
}

#srch #srch-bar #srch-field #srch-input.dark-mode {
  color: #FFFFFF;
}

#srch #srch-bar #srch-field #srch-btn.light-mode {
  background-image: url("../assets/icon-search.svg");
}

#srch #srch-bar #srch-field #srch-btn.dark-mode {
  background-image: url("../assets/icon-search-modo-noct.svg");
}

#srch #srch-bar #srch-field #srch-close-btn.light-mode {
  background-image: url("../assets/close.svg");
}

#srch #srch-bar #srch-field #srch-close-btn.dark-mode {
  background-image: url("../assets/close-modo-noct.svg");
}

#srch #srch-bar #srch-suggest-list .srch-suggest #srch-icon {
  background-repeat: no-repeat;
  background-size: auto;
}

#srch #srch-bar #srch-suggest-list .srch-suggest #srch-icon.light-mode {
  background-image: url("../assets/icon-search.svg");
}

#srch #srch-bar #srch-suggest-list .srch-suggest #srch-icon.dark-mode {
  background-image: url("../assets/icon-search-modo-noct.svg");
}

.more-btn.light-mode {
  border: 1px solid #572EE5;
}

.more-btn.light-mode:hover {
  color: #FFFFFF;
  background-color: #572EE5;
}

.more-btn.dark-mode {
  border: 1px solid #FFFFFF;
}

.more-btn.dark-mode:hover {
  color: #37383C;
  background-color: #FFFFFF;
}

.second-txt-font.dark-mode {
  color: #FFFFFF;
}

#trending-gifs.dark-mode {
  background-color: #222326;
}

#trending-gifs .arrow.arrow-left.light-mode {
  background-image: url("../assets/button-slider-left.svg");
}

#trending-gifs .arrow.arrow-left.light-mode:hover {
  background-image: url("../assets/button-slider-left-hover.svg");
}

#trending-gifs .arrow.arrow-left.dark-mode {
  background-image: url("../assets/button-slider-left-md-noct.svg");
}

#trending-gifs .arrow.arrow-left.dark-mode:hover {
  background-image: url("../assets/button-slider-left-md-noct-hover.svg");
}

#trending-gifs .arrow.arrow-right.light-mode {
  background-image: url("../assets/Button-Slider-right.svg");
}

#trending-gifs .arrow.arrow-right.light-mode:hover {
  background-image: url("../assets/Button-Slider-right-hover.svg");
}

#trending-gifs .arrow.arrow-right.dark-mode {
  background-image: url("../assets/button-slider-right-md-noct.svg");
}

#trending-gifs .arrow.arrow-right.dark-mode:hover {
  background-image: url("../assets/button-slider-right-md-noct-hover.svg");
}

footer.light-mode {
  border-bottom: 5px solid #572EE5;
}

footer.dark-mode {
  border-bottom: 5px solid black;
}

footer h5.dark-mode {
  color: #FFFFFF;
}

footer .social-icon.dark-mode:hover {
  color: #FFFFFF;
}

@media (min-width: 901px) {
  #nav-bar {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 11% 0 11%;
  }
  #nav-bar .btn-logo {
    width: 63px;
    height: 59px;
  }
  #nav-bar .btn-logo.mobile {
    display: none;
  }
  #nav-bar .btn-ham {
    display: none;
  }
  #nav-bar .btn-ham-close {
    display: none;
  }
  #nav-bar #nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 42px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header h1 {
    padding: 76px 26% 24px;
  }
  header img {
    width: 30%;
    max-width: 400px;
  }
  #srch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #srch #srch-bar {
    width: 40%;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 27px;
  }
  #srch #srch-bar #srch-field {
    padding: 15px 0 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #srch #srch-bar #srch-field #srch-input {
    font-size: 16px;
    padding-left: 33px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  #srch #srch-bar #srch-suggest-list {
    padding: 9px 0 13px;
    border-top: 1px solid #9CAFC3;
  }
  #srch #srch-bar #srch-suggest-list :hover {
    cursor: pointer;
    background-color: lightblue;
  }
  #srch #srch-bar #srch-suggest-list .srch-suggest {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0 5px;
  }
  #srch #srch-bar #srch-suggest-list .srch-suggest #srch-icon {
    width: 18px;
    height: 18px;
  }
  #srch #srch-bar #srch-suggest-list .srch-suggest p {
    margin-left: 14px;
    color: #9CAFC3;
  }
  #srch #srch-trends {
    padding: 73px 20% 95px;
  }
  #srch #srch-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-bottom: 149px;
  }
  #srch #srch-results #srch-results-title {
    padding: 79px 0 109px 0;
    border-top: 1px solid #9CAFC3;
    font-size: 30px;
  }
  #srch #srch-results #srch-no-results {
    text-align: center;
  }
  .gifcards-container {
    width: 81%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-column-gap: 29px;
            column-gap: 29px;
    row-gap: 29px;
  }
  .gifcards-container .gifcard {
    width: 260px;
    height: 200px;
  }
  .gifs-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 79px;
  }
  .gifs-section .gifs-section-title {
    text-align: center;
    padding-bottom: 109px;
  }
  .gifs-section .gifs-results-empty {
    text-align: center;
  }
  .gifs-section .gifs-results-empty p {
    padding: 0 20%;
  }
  #trending-gifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 67px 0 182px;
  }
  #trending-gifs p {
    padding: 12px 0 53px;
  }
  #trending-gifs #slider-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #trending-gifs #slider-container .arrow {
    width: 40px;
    height: 40px;
  }
  #trending-gifs #slider-container #trending-gifs-slider {
    width: 80%;
    margin: 0 22px;
    overflow: scroll;
    scroll-behavior: smooth;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #trending-gifs #slider-container #trending-gifs-slider #trending-gifs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 29px;
  }
  #trending-gifs #slider-container #trending-gifs-slider #trending-gifs-container .gifcard {
    width: 357px;
    height: 275px;
  }
  #gifos-create {
    width: 100%;
    padding: 4px 0 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #gifos-create #record-general {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #gifos-create #record-general #camera-img {
    width: 123px;
    min-width: 80px;
    height: 163px;
    margin-left: 80px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #gifos-create #record-general #camera-img.light-mode {
    background-image: url(../assets/camara.svg);
  }
  #gifos-create #record-general #camera-img.dark-mode {
    background-image: url(../assets/camara-modo-noc.svg);
  }
  #gifos-create #record-general #movie-img {
    width: 142px;
    min-width: 100px;
    height: 88px;
    margin-right: 80px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #gifos-create #record-general #movie-img.light-mode {
    background-image: url(../assets/pelicula.svg);
  }
  #gifos-create #record-general #movie-img.dark-mode {
    background-image: url(../assets/pelicula-modo-noc.svg);
  }
  #gifos-create #record-general #record-main {
    width: 100%;
    max-width: 688px;
    min-width: 600px;
    margin: 0 5%;
  }
  #gifos-create #record-general #record-main #record-frame {
    padding: 20px;
  }
  #gifos-create #record-general #record-main #record-frame.light-mode {
    border: 1px solid #572EE5;
  }
  #gifos-create #record-general #record-main #record-frame.dark-mode {
    border: 1px solid #FFFFFF;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners {
    border: 1px solid #5ED7C6;
    padding: 17px 0;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #record-init {
    width: 480px;
    line-height: 30px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #record-init h2 span {
    text-transform: uppercase;
    color: #5ED7C6;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #record-permit {
    width: 480px;
    line-height: 30px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners video {
    width: 480px;
    height: 320px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif {
    width: 480px;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(87, 46, 229, 0.8);
    padding: 11px 12px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-info img {
    width: 24px;
    height: 24px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-info p {
    color: #FFFFFF;
    margin-top: 10px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-btns {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 11px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-btns a {
    width: 32px;
    height: 32px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-btns button {
    opacity: 0.4;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-btns button:hover {
    opacity: 1;
  }
  #gifos-create #record-general #record-main #record-status-bar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 24px 0 19px 0;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 26px;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step.light-mode {
    border: 1px solid #572EE5;
    color: #572EE5;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step.light-mode.step-active {
    color: #FFFFFF;
    background-color: #572EE5;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step.dark-mode {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step.dark-mode.step-active {
    color: #37383C;
    background-color: #FFFFFF;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-log {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-log #record-time.light-mode {
    color: #572EE5;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-log #record-time.dark-mode {
    color: #FFFFFF;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-log #record-repeat {
    text-transform: uppercase;
  }
  #gifos-create #line-separator {
    height: 7px;
    width: 50%;
    border-radius: 10px;
  }
  #gifos-create #line-separator.light-mode {
    background-color: #572EE5;
  }
  #gifos-create #line-separator.dark-mode {
    background-color: #FFFFFF;
  }
  #gifos-create .more-btn {
    margin-top: 20px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 11%;
  }
  footer #social-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #social-share h5 {
    margin-right: 17px;
  }
  footer #social-share #social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  /* ------------------------------ SMALL MOBILE ------------------------------ */
  #nav-bar {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #nav-bar .btn-logo {
    width: 53px;
    height: 49px;
    margin-left: 5.9%;
  }
  #nav-bar .btn-logo.desktop {
    display: none;
  }
  #nav-bar .btn-ham, #nav-bar .btn-ham-close {
    width: 14px;
    height: 14px;
    margin-right: 7.2%;
  }
  #nav-bar .btn-ham.light-mode {
    background-image: url("../assets/burger.svg");
  }
  #nav-bar .btn-ham.dark-mode {
    background-image: url("../assets/burger-modo-noct.svg");
  }
  #nav-bar .btn-ham-close.light-mode {
    background-image: url("../assets/close.svg");
  }
  #nav-bar .btn-ham-close.dark-mode {
    background-image: url("../assets/close-modo-noct.svg");
  }
  #nav-bar #nav-menu {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-bar #nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    padding: 25px 0;
  }
  #nav-bar #nav-menu a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    border-bottom: 1px solid #FFFFFF;
  }
  #nav-bar #nav-menu .btn-crear {
    background-image: url(../assets/CTA-crear-gifo-modo-noc.svg);
  }
  #nav-bar .nav-menu-hide {
    left: -100%;
  }
  #nav-bar .nav-menu-show {
    left: 0;
  }
  #nav-bar .nav-menu-show.light-mode {
    background-color: rgba(87, 46, 229, 0.9);
  }
  #nav-bar .nav-menu-show.dark-mode {
    background-color: black;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header h1 {
    padding: 7px 11% 31px;
  }
  header img {
    width: 70%;
    max-width: 400px;
  }
  .gifcards-container {
    width: 89%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-column-gap: 21px;
            column-gap: 21px;
    row-gap: 21px;
  }
  .gifcards-container .gifcard {
    width: 156px;
    height: 120px;
  }
  #srch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #srch #srch-bar {
    width: 89%;
    padding: 0 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #572EE5;
    border-radius: 27px;
  }
  #srch #srch-bar #srch-field {
    padding: 15px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #srch #srch-bar #srch-field #srch-input {
    font-size: 16px;
    padding-left: 37px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  #srch #srch-bar #srch-suggest-list {
    padding: 9px 0 13px;
    border-top: 1px solid #9CAFC3;
  }
  #srch #srch-bar #srch-suggest-list :hover {
    cursor: pointer;
    background-color: lightblue;
  }
  #srch #srch-bar #srch-suggest-list .srch-suggest {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0 5px;
  }
  #srch #srch-bar #srch-suggest-list .srch-suggest img {
    width: 16px;
    height: 16px;
  }
  #srch #srch-bar #srch-suggest-list .srch-suggest p {
    margin-left: 14px;
    color: #9CAFC3;
  }
  #srch #srch-trends {
    padding: 31px 20% 35px;
  }
  #srch #srch-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-bottom: 79px;
  }
  #srch #srch-results #srch-results-title {
    padding: 43px 0 38px 0;
    border-top: 1px solid #9CAFC3;
    font-size: 25px;
  }
  #srch #srch-results #srch-no-results {
    text-align: center;
  }
  .gifs-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 79px;
  }
  .gifs-section .gifs-section-title {
    text-align: center;
    padding-bottom: 46px;
  }
  .gifs-section .gifs-results-empty {
    text-align: center;
  }
  .gifs-section .gifs-results-empty p {
    padding: 0 20%;
  }
  #trending-gifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 46px 0 82px;
  }
  #trending-gifs p {
    padding: 7px 20% 32px;
  }
  #trending-gifs #slider-container .arrow {
    display: none;
  }
  #trending-gifs #slider-container #trending-gifs-slider {
    width: 100%;
    overflow: scroll;
    scroll-behavior: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #trending-gifs #slider-container #trending-gifs-slider #trending-gifs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 22px;
    padding: 0 22px;
  }
  #trending-gifs #slider-container #trending-gifs-slider #trending-gifs-container .gifcard {
    width: 243px;
    height: 187px;
  }
  #gifos-create {
    width: 100%;
    padding: 4px 0 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #gifos-create #record-general {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #gifos-create #record-general #camera-img {
    display: none;
  }
  #gifos-create #record-general #movie-img {
    display: none;
  }
  #gifos-create #record-general #record-main {
    width: 100%;
    margin: 0 5%;
  }
  #gifos-create #record-general #record-main #record-frame {
    padding: 20px;
  }
  #gifos-create #record-general #record-main #record-frame.light-mode {
    border: 1px solid #572EE5;
  }
  #gifos-create #record-general #record-main #record-frame.dark-mode {
    border: 1px solid #FFFFFF;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners {
    border: 1px solid #5ED7C6;
    padding: 17px 0;
    height: 236px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #record-init, #gifos-create #record-general #record-main #record-frame #inside-corners #record-permit {
    width: 60%;
    min-width: 200px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #record-init h2 span {
    text-transform: uppercase;
    color: #5ED7C6;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners video, #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif {
    width: 300px;
    height: 200px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(87, 46, 229, 0.8);
    padding: 11px 12px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-info img {
    width: 24px;
    height: 24px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-info p {
    color: #FFFFFF;
    margin-top: 10px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-btns {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 11px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-btns a {
    width: 32px;
    height: 32px;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-btns button {
    opacity: 0.4;
  }
  #gifos-create #record-general #record-main #record-frame #inside-corners #raw-gif .raw-overlay .raw-overlay-btns button:hover {
    opacity: 1;
  }
  #gifos-create #record-general #record-main #record-status-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 0 19px 0;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step.light-mode {
    border: 1px solid #572EE5;
    color: #572EE5;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step.light-mode.step-active {
    color: #FFFFFF;
    background-color: #572EE5;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step.dark-mode {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-steps .step.dark-mode.step-active {
    color: #37383C;
    background-color: #FFFFFF;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-log {
    padding-top: 19px;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-log #record-time.light-mode {
    color: #572EE5;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-log #record-time.dark-mode {
    color: #FFFFFF;
  }
  #gifos-create #record-general #record-main #record-status-bar #record-log #record-repeat {
    text-transform: uppercase;
  }
  #gifos-create #line-separator {
    height: 7px;
    width: 50%;
    border-radius: 10px;
  }
  #gifos-create #line-separator.light-mode {
    background-color: #572EE5;
  }
  #gifos-create #line-separator.dark-mode {
    background-color: #FFFFFF;
  }
  #gifos-create .more-btn {
    margin-top: 20px;
  }
  footer {
    padding: 47px 0 23px;
  }
  footer #social-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #social-share h5 {
    margin-bottom: 24px;
  }
  footer #social-share #social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 19px;
    margin-bottom: 47px;
  }
}
/*# sourceMappingURL=main.css.map */